header{
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 60px;
	font-size: 20px;
	/* color: #333; */
	/* font-weight: bold; */
	/*text-align: center;*/
	line-height: 60px;
	background: rgb(255, 255, 255);

	/*left: 50%;*/
	/*top: 0;*/
	/*margin-left: -50%;*/
	}

#header_link {
	text-decoration: none;
	/* color: #333; */
	}
/* a:visited {
	text-decoration: none;
	} */
#header_link a:hover {
	text-decoration: none;
	color: #ff6700;
	}

section{
    padding: 60px 0 0 0;
	}
/* default */
section.default nav{
    position: absolute;
    /* top: 60px; */
    bottom: 60px;
    /* float: left;
    height: 100%; */
    width: 200px;
	}
section.default nav li{
    padding: 10px 20px;
	}
section.default nav li.active{
    background: #77d677;
	}
section.default article{
    padding-left: 220px;
	}
/* flexModal */
section.flexModal{
    display: flex;
}
section.flexModal nav{
    width: 200px;
}
section.flexModal article{
    flex: 1;
}

/* fixedLeft */
section.fixedLeft nav{
    position: fixed;
    /* top: 60px; */
    bottom: 60px;
}
section.fixedLeft article{
    margin-left: 200px; 
}